body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    background-image: url('./img/paper-background.png'), linear-gradient(90deg, rgba(104, 69, 32, 0.603), rgba(255, 198, 137, 0.904), rgba(104, 69, 32, 0.827));
    background-color: rgba(104, 69, 32, 0.827);
    background-blend-mode: screen;
    background-size: cover;
    color: rgb(73, 41, 7);
}

.container {
    width: 70%;
    margin: 0 auto;
}

.content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.results {
    display: none;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.character {
    font-size: 1rem;
    font-weight: 700;
}

/* form */

.btn {
    border: 0;
    padding: 0.5em 2em;
    background-color: rgba(104, 69, 4, 0.7);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    margin: 0.3em;
}

.btn:hover,
.btn:focus {
    background-color: rgba(104, 69, 4, 1);
}

input {
    border: 0;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgba(104, 69, 4, 0.7);
    color: #fff;
    margin: 0.5em;
}

input:focus {
    background-color: rgba(104, 69, 4, 1);
}

form {
    text-align: left;
}

/* links */ 

a {
    text-decoration: none;
}

.nav-link {
    font-weight: 700;
    color: rgb(104, 69, 4);
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
    color: #000;
    cursor: pointer;
}

/* typography */

h1 {
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 3.5rem;
    color: rgb(104, 69, 4);
    margin: 0;
}

.charName {
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
}

/* media query */

@media (min-width: 600px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        flex-direction: row;
    }
}