body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.results {
    display: none;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 3.5rem;
}

.character {
    font-size: 1rem;
    font-weight: 700;
}

/* links */ 
a {
    text-decoration: none;
}

.nav-link {
    font-weight: 700;
    color: #ccc;
}